[Desktop Entry]
Version=1.0
Name=BadeSaba
Exec=open https://badesaba.ir/
Icon=/home/home/.icons/badesaba.png
Terminal=false
Type=Application
Categories=Calendar;Utility;
