[Desktop Entry]
Version=1.0
Name=Chabokan
Exec=open https://hub.chabokan.net/fa/
Icon=/home/home/.icons/chabokan.svg
Terminal=false
Type=Application
Categories=;
