[Desktop Entry]
Version=1.0
Name=Quera
Exec=open https://quera.org/dashboard/
Icon=/home/home/.icons/quera.svg
Terminal=false
Type=Application
Categories=;
