config/profiles/*.conf
!config/profiles/*.conf.sample
config/excludes/*.exclude
!config/excludes/common.exclude
config/manual/*.manual
!config/manual/*.manual.sample
config/collectors/*.conf
config/docker-recovery/*.conf
config/restore/*.conf
!config/restore/handlers.local.conf.sample
