# Manual checklist
# Format: Title | Description

# OTP
# Mobile Contacts
# Joplin data
# Onetab
# Bookmarks
# ProtonPass
# Mobile files
# SwitchyOmega
# Poolaki
# Passwords | Important passwords like firefox/accounts
